.character-generator-container { 
    overflow-y: auto;
    padding-bottom: 5%;
    .button-container { 
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 10px;
        div:first-child {
            margin-right: 10px;
        }
        button:last-child {
            margin-right: 0px;
        }
        button {
            margin-right: 10px;
        }
    }
}

@media (max-width: 800px) { 
    .button-container { 
        Button {
            width: 100%;
        }
    }
}