.characterName-paper {
    padding: 10px;
}

div.backgroundInfo-container {
    padding: 10px;
    background-color: #CECCC2;
}

div.notes-container {
    padding: 10px;
    background-color: #CECCC2;
}

div.backgroundInfo-container .backgroundInfo-paper { 
    padding: 10px;
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
}

div.notes-container {
    padding: 10px;
    background-color: #CECCC2;
}

div.notes-container .notes-paper { 
    padding: 10px;
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
}

.inventory-advanced-skills-paper {
    max-height: 450px;
    min-height: 450px;
    overflow-y: auto;
}