.home-container { 
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  flex-direction: row;
  // align-items: center;
  // flex-wrap: nowrap;
  justify-content: center;
  .home-item {
    display: flex;
    justify-content: center;
    align-items: center;
    .card-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 250px;
      height: 250px;
      div.home-label { 
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 800px) {
  .home-container { 
    flex-direction: column;
    .home-item {
      max-width: unset;
      width: 100%;
    }
  }
}